.button {
  padding: 0rem 2rem;
  height: 3.75rem;
  min-width: 10rem;
  border-radius: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background: var(--color-background);
  transition: background 0.2s ease;
  position: relative;
  color: var(--color-text);

  &[aria-details="primary"] {
    background: var(--color-primary);
    color: var(--color-white);
  }

  &[aria-details="card"] {
    color: var(--color-text);
    background: var(--color-card);
  }

  &[aria-details="text"] {
    background: var(--color-text);
    color: #333;
  }

  &:hover {
    &[aria-details="primary"] {
      background: var(--color-primary-light);
    }

    &[aria-details="card"],
    &:not([aria-details]) {
      color: var(--color-text-light);
    }

    &[aria-details="text"] {
      background: var(--color-text-light);
    }
  }
}

.buttonSmall {
  padding: 0rem 1.6rem;
  height: 2.8rem;
  min-width: 6rem;
  border-radius: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background: var(--color-background);
  transition: background 0.2s ease;
  position: relative;
  color: var(--color-text);

  &[aria-details="primary"] {
    background: var(--color-primary);
    color: var(--color-white);
  }

  &[aria-details="card"] {
    color: var(--color-text);
    background: var(--color-card);
  }

  &[aria-details="text"] {
    background: var(--color-text);
    color: #333;
  }

  &:hover {
    &[aria-details="primary"] {
      background: var(--color-primary-light);
    }

    &[aria-details="card"],
    &:not([aria-details]) {
      color: var(--color-text-light);
    }

    &[aria-details="text"] {
      background: var(--color-text-light);
    }
  }
}
