.section {
  display: flex;
  flex-direction: row;
  height: 32rem;
}

.section > * {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 4rem 5rem;
  flex: 1;
}

.title {
  display: flex;
  flex: 1;
  white-space: unset;
  max-width: 38rem;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons > *:not(:first-child) {
  margin-left: 1rem;
}

.image {
  object-fit: contain;
  object-position: right;
  display: flex;
  flex: 1;
  pointer-events: none;
}

.appLogo {
  object-fit: contain;
}
